/*JS Project
    By: Yousef Emadi
    Date: 14-Feb-2021
*/

body{
    font-family: "Montserrat", "Open Sans", sans-serif;
    margin: 2rem;
}

#fieldset{
    width: 25%;
    border-radius: 0.5rem;
}

legend{
    font-size: 2rem;
    color: dodgerblue;
    font-weight: bold;
}

#outputTray{
    color: red;
    font-weight: bold;
}

#days{
    font-weight: bold;
    font-size: 1.1rem;
}

